* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%;
  word-break: keep-all; }

html {
  font-size: 10px;
  font-family: Noto Sans, Roboto, sans-serif; }

body {
  min-height: 100%; }

ul,
li {
  list-style: none; }

section {
  width: 100%; }

input,
textarea,
button {
  outline: none;
  border-radius: 0;
  border: none; }

a {
  text-decoration: none; }

.gnbWrap,
.topWrap,
.funWrap,
.siberWrap,
.contentWrap,
.notiWrap,
.boxWrap,
.companyInfo,
.sectionList,
.swiperBanner {
  max-width: 1136px;
  min-width: 1136px;
  margin: 0 auto; }

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  display: none; }

.container {
  position: relative;
  width: 100%; }

.blind {
  display: none; }

.bgColor {
  background-color: #fafafa; }

.chevron {
  position: relative;
  padding-right: 2rem; }
  .chevron:before {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid #666;
    border-width: 1px 1px 0 0;
    background-color: transparent;
    overflow: hidden;
    transform: translateY(-50%) rotate(45deg); }

[class*="lineSlider"] {
  position: relative; }
  [class*="lineSlider"]:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    width: 0;
    bottom: 1px;
    border-bottom: 1px solid white;
    transition: all 0.15s; }
    [class*="lineSlider"]:after:hover {
      left: 0;
      right: 0;
      width: 100%; }

[class*="iconButton"] {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border: 0;
  background: none;
  box-shadow: none; }

.iconButton {
  cursor: pointer; }
  .iconButton:hover span {
    width: 28px; }
    .iconButton:hover span .midLine {
      left: 50%;
      transform: translate(-50%, -50%); }
  .iconButton span {
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s; }
    .iconButton span:after {
      content: "";
      top: 0; }
    .iconButton span:before {
      content: "";
      bottom: 0; }
    .iconButton span .midLine {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background-color: white;
      height: 2px;
      width: 1.6rem;
      transition: all 0.2s; }
    .iconButton span:after, .iconButton span:before {
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: white; }

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
  z-index: 901; }
  header nav.topWrap {
    text-align: right;
    height: 40px;
    padding-top: 12px; }
    header nav.topWrap .linkGroup {
      display: inline-block; }
      header nav.topWrap .linkGroup a {
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        color: white;
        margin: 3px 15px; }
        header nav.topWrap .linkGroup a + a:before {
          content: "";
          position: absolute;
          top: 50%;
          left: -16px;
          transform: translateY(-50%);
          height: 12px;
          border-right: 1px solid #dddddd; }
  header .gnbArea {
    position: relative;
    height: 76px; }
    header .gnbArea nav.gnbWrap {
      height: inherit;
      width: 100%; }
      header .gnbArea nav.gnbWrap .gnbWrapCover {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    header .gnbArea .logoWrap {
      width: 172px; }
  header .navLinkGroup {
    display: flex;
    font-size: 1.9rem;
    font-weight: bold;
    height: inherit;
    letter-spacing: -0.6px; }
    header .navLinkGroup > li {
      padding: 0 20px;
      height: inherit; }
      header .navLinkGroup > li > a {
        display: inline-block;
        color: white;
        transition: all 0.3s;
        padding-top: 22px; }
      header .navLinkGroup > li.on .subArea {
        display: block; }
        header .navLinkGroup > li.on .subArea a {
          color: #222222; }
    header .navLinkGroup .subArea {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      min-height: 100px;
      overflow: hidden;
      background-color: white;
      padding-bottom: 50px;
      display: none;
      border-top: 1px solid #dddddd; }
      header .navLinkGroup .subArea .subWrap {
        max-width: 1136px;
        margin: 0 auto; }
      header .navLinkGroup .subArea a {
        transition: color 0.25s; }
      header .navLinkGroup .subArea a:hover {
        color: #445fe6 !important; }
      header .navLinkGroup .subArea .depth2 {
        margin: 0 0 0 -16px;
        font-size: 0;
        line-height: 2; }
        header .navLinkGroup .subArea .depth2 > li {
          display: inline-block;
          margin-top: 40px;
          width: 20%;
          padding: 0 30px 0 16px;
          vertical-align: top;
          text-align: left; }
          header .navLinkGroup .subArea .depth2 > li > a {
            font-size: 1.6rem;
            color: #222222;
            font-weight: 600; }
      header .navLinkGroup .subArea .depth3 > li > a {
        font-size: 1.4rem;
        color: #666666;
        font-weight: 500; }
    header .navLinkGroup .menuSlider {
      position: absolute;
      background-color: #715deb;
      height: 3px;
      width: 0;
      bottom: 15px;
      transform: translateX(100%);
      right: 50%;
      transition: all 0.3s 0.1s;
      pointer-events: none;
      opacity: 1; }
  header .shinhanLifeLogo {
    width: 172px;
    height: 30px;
    display: inline-block;
    background-image: url("https://www.shinhanlife.co.kr/resources/images/cdh/common/logo_sh_w.svg");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 172px auto; }
  header.sticky {
    position: fixed;
    top: -40px; }
  header.sticky, header.menuOpen {
    background-color: white; }
    header.sticky .gnbArea, header.menuOpen .gnbArea {
      box-shadow: 0 16px 16px rgba(0, 0, 0, 0.1); }
    header.sticky nav.topWrap .linkGroup a, header.menuOpen nav.topWrap .linkGroup a {
      color: #666666; }
    header.sticky .navLinkGroup .menuSlider, header.menuOpen .navLinkGroup .menuSlider {
      opacity: 1;
      right: 0;
      transform: translateX(0%); }
    header.sticky .navLinkGroup li a, header.menuOpen .navLinkGroup li a {
      color: #222222;
      opacity: 0.5; }
    header.sticky .navLinkGroup li.on a, header.menuOpen .navLinkGroup li.on a {
      opacity: 1; }
    header.sticky .shinhanLifeLogo, header.menuOpen .shinhanLifeLogo {
      background-image: url("https://www.shinhanlife.co.kr/resources/images/cdh/common/logo_sh.svg"); }
    header.sticky .iconButton span:before,
    header.sticky .iconButton span:after, header.menuOpen .iconButton span:before,
    header.menuOpen .iconButton span:after {
      background-color: #222222; }

.mainSection {
  position: relative;
  background-color: #4c3bbb;
  margin-bottom: 40px; }
  .mainSection .mainVisual {
    position: relative; }
    .mainSection .mainVisual .background {
      min-height: 820px; }
    .mainSection .mainVisual .inputArea {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 465px; }
      .mainSection .mainVisual .inputArea .inputWrap {
        position: relative;
        padding-bottom: 5px; }
        .mainSection .mainVisual .inputArea .inputWrap input {
          height: 60px;
          border: 3px solid white;
          width: 100%;
          border-radius: 0;
          background-color: rgba(0, 0, 0, 0.1);
          color: white;
          padding: 0 50px 0 16px;
          font-size: 1.8rem; }
          .mainSection .mainVisual .inputArea .inputWrap input::placeholder {
            color: #ffffff; }
        .mainSection .mainVisual .inputArea .inputWrap .searchButton {
          cursor: pointer;
          position: absolute;
          width: 60px;
          height: 60px;
          right: 0;
          background: url("https://www.shinhanlife.co.kr/resources/images/cdh/common/ico_gnb_srch_w.svg") no-repeat center; }
      .mainSection .mainVisual .inputArea .hashtag {
        font-size: 1.3rem;
        padding-top: 0.7rem; }
        .mainSection .mainVisual .inputArea .hashtag a {
          display: inline-block;
          padding: 2px;
          color: rgba(255, 255, 255, 0.7); }
          .mainSection .mainVisual .inputArea .hashtag a + a {
            margin-left: 11px; }
  .mainSection .columnSymbol {
    position: absolute;
    width: 260px;
    height: 260px;
    z-index: 2;
    right: 0;
    bottom: 0; }
    .mainSection .columnSymbol:after, .mainSection .columnSymbol:before {
      content: "";
      position: absolute;
      background-color: #715deb;
      top: 0; }
    .mainSection .columnSymbol:after {
      right: 0;
      width: 64px;
      height: 260px; }
    .mainSection .columnSymbol:before {
      right: 64px;
      width: 196px;
      height: 64px; }

.siberSection {
  margin-top: 40px;
  padding-bottom: 50px; }
  .siberSection .siberArea {
    display: flex; }
    .siberSection .siberArea > div {
      flex: 1;
      height: 200px;
      padding: 30px 70px 0 40px; }
      .siberSection .siberArea > div.shinhanSiber {
        background-color: #908ca5; }
      .siberSection .siberArea > div.orangeSiber {
        background-color: #978f8c;
        margin-left: 1px; }
      .siberSection .siberArea > div .tit {
        font-size: 1.6rem;
        font-weight: 600;
        color: white;
        margin-bottom: 12px; }
      .siberSection .siberArea > div div.tit {
        font-size: 1.8rem;
        color: #5642bf; }
      .siberSection .siberArea > div.newClient {
        margin-left: 10px;
        background: #f5f8ff url("https://www.shinhanlife.co.kr/resources/images/cdh/main/new_member_bg.png") no-repeat right 30px top 30px;
        background-size: cover; }
        .siberSection .siberArea > div.newClient p {
          font-size: 1.4rem;
          color: #666666; }
        .siberSection .siberArea > div.newClient a {
          display: inline-block;
          margin: 2rem 0 0;
          border-color: #715deb;
          background-color: #715deb;
          min-width: 64px;
          min-height: 36px;
          line-height: 26px;
          padding: 0.4rem 1.5rem;
          border-radius: 2px;
          font-size: 1.4rem;
          font-weight: 300;
          color: white; }
  .siberSection .copy {
    font-size: 1.4rem;
    margin-top: 1rem; }

.funSection {
  padding: 64px 0; }
  .funSection .funArea {
    display: flex; }
  .funSection .funCards {
    flex: 1;
    display: flex;
    flex-wrap: wrap; }
    .funSection .funCards .funCard {
      flex: 1;
      padding: 0 0 64px; }
      .funSection .funCards .funCard:nth-child(odd) {
        padding: 64px 0 0; }
      .funSection .funCards .funCard .cardWrap {
        position: relative;
        cursor: pointer;
        width: 288px;
        height: 340px;
        padding: 28px 45px 0;
        background-color: white;
        border: 1px solid #f1f1f1;
        box-shadow: 12px 12px 18px rgba(0, 0, 0, 0.08);
        transition: all 0.25s ease-in-out; }
        .funSection .funCards .funCard .cardWrap > span {
          display: block;
          margin-bottom: 5px;
          color: #5642bf;
          font-size: 1.4rem;
          font-weight: 600;
          margin-bottom: 4px;
          transition: all 0.25s ease-in-out; }
      .funSection .funCards .funCard .imageBox {
        position: relative;
        width: 96px;
        height: 96px;
        margin: 0 0 7px -16px; }
        .funSection .funCards .funCard .imageBox:after {
          content: "";
          width: 56px;
          height: 56px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          background-color: #715deb;
          transition: all 0.25s ease-in-out; }
      .funSection .funCards .funCard .cardContent {
        color: #222222;
        font-size: 2rem;
        font-weight: 700;
        transition: all 0.25s ease-in-out; }
      .funSection .funCards .funCard .cardLink {
        position: absolute;
        left: 45px;
        right: 45px;
        bottom: 30px;
        color: #666666;
        font-weight: 400;
        font-size: 1.6rem;
        transition: all 0.25s ease-in-out; }
      .funSection .funCards .funCard .cardWrap:hover {
        background-color: #715deb; }
        .funSection .funCards .funCard .cardWrap:hover .imageBox:after {
          background-color: white; }
        .funSection .funCards .funCard .cardWrap:hover span,
        .funSection .funCards .funCard .cardWrap:hover .cardLink,
        .funSection .funCards .funCard .cardWrap:hover .cardContent {
          color: white; }
  .funSection .newLife {
    width: 416px;
    padding-left: 46px; }
    .funSection .newLife .tit {
      padding: 70px 0 0 0; }
      .funSection .newLife .tit h2 {
        color: #222222;
        font-size: 32px;
        font-weight: 700; }
        .funSection .newLife .tit h2 span {
          display: inline-block;
          position: relative;
          z-index: 1; }
          .funSection .newLife .tit h2 span:before {
            content: "";
            position: absolute;
            height: 8px;
            opacity: 0.7;
            bottom: 4px;
            left: -2px;
            right: -2px;
            z-index: -1;
            background-color: #715deb; }
    .funSection .newLife .newLifeBanner {
      display: block;
      margin: 55px 0 0;
      padding: 5px 135px 5px 0; }
      .funSection .newLife .newLifeBanner p {
        font-size: 1.6rem;
        color: #666; }
      .funSection .newLife .newLifeBanner .chevron {
        display: inline-block;
        margin-top: 12px;
        color: #5642bf;
        font-size: 1.8rem;
        font-weight: 600; }
        .funSection .newLife .newLifeBanner .chevron:before {
          border-color: #5642bf;
          border-width: 2px 2px 0 0; }
  .funSection .mainEvent a {
    display: block;
    margin: 95px 0 0 -46px;
    width: 416px; }
  .funSection .mainEvent .img {
    width: 100%;
    height: 310px;
    background-color: #4c3bbb; }
  .funSection .swiperBanner {
    width: 100%;
    margin-top: 64px; }
    .funSection .swiperBanner .img {
      width: 100%;
      height: 160px;
      background-color: #ffd000; }

.notiSection {
  padding: 64px 0;
  background-color: #5642bf;
  color: white; }
  .notiSection .mainTit {
    font-size: 32px;
    text-align: center; }
  .notiSection .information {
    width: 840px;
    margin: 0 auto;
    text-align: center; }
    .notiSection .information ul {
      display: flex;
      align-items: flex-start;
      margin: 50px 0 30px; }
      .notiSection .information ul li {
        flex: 1; }
        .notiSection .information ul li span.tit,
        .notiSection .information ul li span.subTit {
          display: block;
          font-size: 1.6rem; }
        .notiSection .information ul li h3.num {
          margin-bottom: 7px;
          font-size: 4.8rem;
          font-weight: 700; }
  .notiSection .boxWrap {
    display: flex;
    margin-top: 54px; }
    .notiSection .boxWrap .box {
      padding: 0 8px;
      width: 50%; }
    .notiSection .boxWrap .boxInner {
      background-color: white; }
      .notiSection .boxWrap .boxInner.pd {
        display: block;
        width: 100%;
        height: 250px;
        padding: 45px 62px 0; }
      .notiSection .boxWrap .boxInner .alramSwiper .swiper-slide a {
        display: block;
        width: 100%;
        padding: 45px 62px 0;
        height: 250px; }
    .notiSection .boxWrap div.tit {
      height: 76px;
      padding-right: 100px;
      color: #222222;
      font-size: 2.1rem;
      font-weight: 700; }
    .notiSection .boxWrap .notiLink {
      font-size: 1.7rem;
      color: #222222; }
    .notiSection .boxWrap .day {
      padding-top: 15px;
      color: #959595;
      font-size: 1.5rem; }
    .notiSection .boxWrap p {
      font-size: 1.5rem;
      color: #666; }

footer {
  position: relative;
  color: #666; }
  footer nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    overflow: hidden; }
  footer .sectionList {
    display: flex;
    border-left: 1px solid #eee; }
    footer .sectionList > li {
      position: relative;
      width: 25%;
      padding-bottom: 48px; }
      footer .sectionList > li button {
        z-index: 2;
        cursor: pointer;
        background-color: white;
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 48px;
        font-size: 1.4rem;
        text-align: left;
        border: none;
        padding: 0 0 0 31px; }
        footer .sectionList > li button:after {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 700px;
          width: 1px;
          background-color: #eee; }
    footer .sectionList .sectionItem {
      width: 100%;
      font-size: 1.5rem;
      padding: 0 20px 0 30px;
      background-color: white;
      z-index: 1;
      height: 0;
      transition: all 0.3s; }
      footer .sectionList .sectionItem > li {
        padding: 4px 0; }
        footer .sectionList .sectionItem > li a {
          color: #666; }
  footer .sectionList.on .sectionItem {
    padding: 20px 20px 20px 30px; }
  footer .footerLogo {
    display: inline-block;
    width: 120px;
    height: 27px;
    margin-right: 16px;
    vertical-align: middle; }
    footer .footerLogo img {
      width: 100%; }
  footer .infoArea {
    padding-top: 5px; }
  footer .companyInfo {
    padding: 25px 0 32px;
    font-size: 1.5rem;
    display: flex;
    align-items: flex-start; }
    footer .companyInfo a {
      color: #666;
      margin: 3px 17px;
      position: relative; }
      footer .companyInfo a.bullet:after {
        content: "";
        position: absolute;
        left: -19px;
        top: 50%;
        transform: translateY(-50%);
        width: 3px;
        height: 3px;
        border: 0;
        border-radius: 50%;
        background-color: #666; }
      footer .companyInfo a .strong {
        font-weight: 700;
        color: #5642bf; }
  footer .phoneArea {
    margin-top: 15px; }
    footer .phoneArea span {
      display: inline-block;
      position: relative;
      padding: 1px 21px 1px 2px;
      color: #222222;
      font-weight: 600; }
  footer address {
    font-style: normal;
    margin-top: 5px;
    font-size: 1.2rem; }
    footer address span {
      display: inline-block;
      position: relative;
      padding: 1px 21px 1px 0; }
  footer .phoneArea span + span:before,
  footer address span + span:before {
    content: "";
    position: absolute;
    left: -11px;
    top: 3px;
    bottom: 4px;
    width: 1px;
    background-color: #ddd; }
  footer .copyright {
    margin-top: 5px;
    font-size: 1.2rem; }
