* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  word-break: keep-all;
}

html {
  font-size: 10px;
  font-family: Noto Sans, Roboto, sans-serif;
}

body {
  min-height: 100%;
}

ul,
li {
  list-style: none;
}

section {
  width: 100%;
}

input,
textarea,
button {
  outline: none;
  border-radius: 0;
  border: none;
}

a {
  text-decoration: none;
}

.gnbWrap,
.topWrap,
.funWrap,
.siberWrap,
.contentWrap,
.notiWrap,
.boxWrap,
.companyInfo,
.sectionList,
.swiperBanner {
  @include contentWidth;
}

.dimmed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 900;
  display: none;
}

.container {
  position: relative;
  width: 100%;
}

.blind {
  display: none;
}

.bgColor {
  background-color: #fafafa;
}

.chevron {
  position: relative;
  padding-right: 2rem;

  &:before {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%;
    width: 8px;
    height: 8px;
    border: 1px solid #666;
    border-width: 1px 1px 0 0;
    background-color: transparent;
    overflow: hidden;
    transform: translateY(-50%) rotate(45deg);
  }
}

[class*="lineSlider"] {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
    width: 0;
    bottom: 1px;
    border-bottom: 1px solid white;
    transition: all 0.15s;

    &:hover {
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}

[class*="iconButton"] {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 48px;
  height: 48px;
  border: 0;
  background: none;
  box-shadow: none;
}

.iconButton {
  cursor: pointer;

  &:hover {
    span {
      width: 28px;

      .midLine {
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  span {
    display: inline-block;
    position: absolute;
    width: 22px;
    height: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.2s;

    &:after {
      content: "";

      top: 0;
    }

    &:before {
      content: "";
      bottom: 0;
    }

    .midLine {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      background-color: white;
      height: 2px;
      width: 1.6rem;
      transition: all 0.2s;
    }

    &:after,
    &:before {
      content: "";
      position: absolute;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: white;
    }
  }
}

.swiper-container {
  overflow: hidden;
}
