header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transition: background-color 0.3s;
  z-index: 901;

  nav.topWrap {
    text-align: right;
    height: 40px;
    padding-top: 12px;

    .linkGroup {
      display: inline-block;

      a {
        position: relative;
        display: inline-block;
        font-size: 1.2rem;
        color: white;
        margin: 3px 15px;

        & + a:before {
          content: "";
          position: absolute;
          top: 50%;
          left: -16px;
          transform: translateY(-50%);
          height: 12px;
          border-right: 1px solid $gray1;
        }
      }
    }
  }

  &.sticky {
    position: fixed;
    background-color: white;
    top: -40px;

    .gnbArea nav.gnbWrap .navLinkGroup li {
      color: $black2;
      opacity: 0.5;
    }
  }

  .gnbArea {
    height: 76px;

    nav.gnbWrap {
      height: inherit;
      width: 100%;

      .gnbWrap_cover {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
      }

      .navLinkGroup {
        display: flex;
        color: white;
        font-size: 1.9rem;
        font-weight: bold;
        height: inherit;
        line-height: 76px;
        letter-spacing: -0.6px;

        li {
          padding: 0 20px;
          height: inherit;
        }
      }
    }

    .logoWrap {
      width: 172px;
    }

    .shinhanLifeLogo {
      width: 172px;
      height: 30px;
      display: inline-block;
      background-image: url("../resources/images/logo_shinhan_lift.svg");
      background-position: 0 center;
      background-repeat: no-repeat;
      background-size: 172px auto;
    }
  }
}
